body{
    background: rgb(215, 221, 231);
    background: radial-gradient(circle, #b1c1df 60%, #8489a3 100%);
}
nav 
{
    background-color: rgb(49, 49, 49);
    margin: 0;
    padding-top: 10px;
    width: 13%;
    height: 100%;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

h1{
    color:aliceblue
}
h3{
    color:rgb(41, 41, 41)
}
p{
    color: azure;
}
row-g3{
    color:aliceblue
}
nav li
{
    display: block;
    padding: 25px 16px;
}

nav li a
{  
    color:aliceblue;
    text-decoration: none;
    text-align: center;
    padding: 25px 16px;
    margin-bottom: 10px;
}

nav li a:hover {background-color: lightgray}

div{
    padding-top: 10px;
    margin-left: 15%;
}

table, th, td
{
    border-bottom: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
}