body{
    background-color: #f2f1ef;
    margin:0;
}
.header-top{
    display:flex;
    background-color: #f2f1ef;
    padding:1em;
    justify-content: space-between;
    padding-left:3em;
    padding-right:3em;
    margin:0;
}
.top-left{
    padding-left:1em;
}
.top-left a{
    text-decoration: none;
    color:#724c37;
}
.top-left a:hover{
    color:#724c37b6;
    cursor: pointer;
}
.top-right{
    display:flex;
    flex-basis: 25%;
    justify-content: space-between;
    margin:0;
}
.header-bottom{
    display:flex;
    justify-content: space-between;
    padding:1.5em;
    background-color: #ffffff;
    margin:auto;
}
.bottom-middle{
    width:60%;
    display: flex;
    justify-content: space-between;
}
#search-button{
    border:none;
    background-color: #ffc303;
    padding:1em;
    border:none;
    border-radius: 7em;
    margin: auto;
}
#search-button:hover{
    background-color: #ffc403ab;
    cursor: pointer;
}
#search{
    display:flex;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3em;
    box-sizing: border-box;
    margin:auto;
    padding:.5em;
    padding-top:1em;
    padding-bottom:1em;
}
.bottom-right{
    padding-left: 2em;
}
.bottom-right button{
    background-color: #ffc303;
    padding:1em;
    border: none;
    border-radius: 3em;
    padding-left:2em;
    padding-right: 2em;
}
.bottom-right button:hover{
    background-color: #ffc403ab;
    cursor: pointer;
}
.tags{
    background-color: #724c37;
    padding:1.5em;
    margin-bottom:2em;
    font-family: Helvetica, sans-serif;
}
.tags span{
    display:block;
    color: #ffffff;
    padding-bottom: 1em;;
    padding-left: 1em;
}
#tag{
    background-color: #ffffff;
    border: none;
    padding:1em;
    border-radius: 3em;
    width:7%;
    border: 1px solid #ccc;
}
#tag:hover{
    background-color: #ffc303;
    cursor: pointer;
}
#post{
    font-family: Helvetica, sans-serif;
    width:75%;
    margin: auto;
    background-color: #ffffff;
    padding:1em;
    border: 1px solid #ccc;
    margin-bottom: 1em;;
}
.footer{
    padding-bottom:1em;
    padding-left:3em;
    padding-right:4em;
    padding-top:2em;
    background-color: #ffffff;
    display:flex;
    justify-content: space-between;
}